  <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" href="../../public/css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="../js/angularApp.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <style>
            .loader {
              border: 5px solid #f3f3f3;
              border-radius: 50%;
              border-top: 5px solid #3498db;
              width: 50px;
              height: 50px;
              -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
              display:inline-block
            }

            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body ng-app="live_score" ng-controller="dashboardCtrl" style="background-image: url(../images/backgroud.jpg); background-repeat: no-repeat; background-position: right top;">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">     
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <div style="position: absolute; left:45%; top:5%; text-align: center; vertical-align: middle">
        <img id="profilePicture" src= '' style="width:100px;height:100px;" alt="Profile picture" ><br><h3 id="userName" style="color:#ffffff"></h3>
        </div>
          <button ng-click="logout()" class="btn btn-success" role="button" style=" margin-top: 20px;margin-right: 20px; position:absolute; top:0%;right:0;">Logout</button>
        <div id="lAct" class="col-md-6" style="position: absolute; left: 25%">
            <select class="form-control disabled" id="activityDropBox">
                <option>Choose Activity</option>
                <option ng-repeat="activity in listActivity" value="{{activity.id}}">{{activity.name}} - {{activity.date}}</option>
            </select>
            <br>
            <p style="color:red"> {{noti}} </p>
            <table class="table table-fixed" id="activityList">
                <thead>
                    <tr>
                      <th style="color: #ffffff; background-color: #d3d3d3;" colspan="2">List friend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="friend in listFriend" style="background-color: #FFA500; color:#ffffff;"><td><img id="avatar{{$index}}" src= {{friend.avatar}} alt="Profile picture" style="width: 40px; height: 40px; border-radius: 50%"> {{friend.name}} </td>
                    <td style="text-align: right;"><a id = {{$index}} ng-click="select(friend.id, friend.activity_id, $index)" href="#" class="btn" role="button" style="background-color:green; color:white;">Select</a></td></tr>
                </tbody> 
            </table>
            <a ng-click="requestRender()" id="compare" href="#" class="btn btn-success disabled" role="button" >Compare</a>
            <a ng-click="selectAll()" id="selectAll" href="#" class="btn btn-success disabled" role="button" >Select All</a>
            <a ng-click="updateData()" href="#" class="btn btn-success" role="button" data-toggle="modal" data-target="#updateDialog">Sync data</a>
            <div id="shareBtn" class="btn btn-success clearfix">Create Challenge</div><p style="color:red; display: inline; margin-left: 10px">{{updatedStt}}</p>
        </div>
        <div id="updateDialog" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
              <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <div class="loader"></div>
                        <p>{{updateStt}}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>
