<section>
  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">     
      <img src="images/slider/1.jpg" alt=""/>
      <img src="images/slider/2.jpg" alt=""/>
      <img src="images/slider/3.jpg" alt=""/>
      <img src="images/slider/4.jpg" alt=""/>
      <img src="images/slider/5.jpg" alt=""/>
    </div>
  </div>
</section>

<!-- Products section -->
<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
              <!-- start prduct navigation -->
              <ul class="nav nav-tabs aa-products-tab">
                <li ng-repeat="item in allProduct"><a href="#{{item.type.name}}" data-toggle="tab">{{item.type.name}}</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in" id="{{item.type.name}}" ng-repeat="item in allProduct"
                      ng-class="{active: $first}">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li ng-repeat="product in item.products">
                      <figure>
                        <a class="aa-product-img" href="#/product-detail/{{product.id}}"
                            style="background-color:#ffffff;">
                          <img ng-src="images/products/{{product.image}}" alt="{{item.name}}" height="250" width="auto">
                        </a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#/product-detail/{{product.id}}">{{product.name}}</a></h4>
                          <span class="aa-product-price">{{product.startingbid}}</span><span class="aa-product-price"><del>{{product.currentprice}}</del></span> 
                        </figcaption>
                      </figure>                       
                    </li>
                    <!-- end single product item -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / Products section -->
<div class="row">
  <div class="col-md-2 col-md-push-5">
    <a class="aa-browse-btn" href="#/product">
      Browse all Product
      <span class="fa fa-long-arrow-right"></span>
    </a>
  </div>
</div>
<!-- Support section -->
<section id="aa-support">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-support-area">
          <!-- single support -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-truck"></span>
              <h4>FREE SHIPPING</h4>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-clock-o"></span>
              <h4>30 DAYS MONEY BACK</h4>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-phone"></span>
              <h4>SUPPORT 24/7</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Support section