<!DOCTYPE html>
<html lang="en" ng-app="lotte">
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="javascripts/angularApp.js"></script>
</head>
  <body>
  <div  ng-controller="MainCtrl">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
