<section id="fh5co-team" class="fh5co-bg-color" data-section="team">
  <div class="fh5co-team">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate"><span>NHÓM PHÁT TRIỂN</span></h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext">
              <h3 class="to-animate">
                Nhóm được thành lập dựa trên khả năng và sự đam mê của từng thành viên đối với lập trình Web
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="team-box text-center to-animate-2">
            <div class="user">
              <img class="img-reponsive" src="https://avatars2.githubusercontent.com/u/13111806"
                   alt="PhucHenry">
            </div>
            <h3>Nguyễn Phúc Hậu</h3>
            <span class="position">Founder, Team Lead Developer</span>
            <p>Khoa công nghệ thông tin <br> Trường ĐH Khoa học tự nhiên. <br> <span style="font-weight: bold"> Môn: Lập trình hiện đại </span>
            </p>
            <ul class="social-media">
              <li>
                <a href="https://www.facebook.com/phuchauvn">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/nphau">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/nphau">
                  <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team-box text-center to-animate-2">
            <div class="user"><img class="img-reponsive" src="https://avatars1.githubusercontent.com/u/8405727"
                                   alt="Roger Garfield"></div>
            <h3>Trần Tú Nam</h3>
            <span class="position">Co-Founder, Backend Designer</span>
            <p>Khoa công nghệ thông tin <br> Trường ĐH Khoa học tự nhiên. <br> <span style="font-weight: bold"> Môn: Lập trình hiện đại </span>
            <ul class="social-media">
              <li>
                <a href="#">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team-box text-center to-animate-2">
            <div class="user"><img class="img-reponsive" src="https://avatars2.githubusercontent.com/u/20410537"
                                   alt="Roger Garfield"></div>
            <h3>Lê Đức I</h3>
            <span class="position">Co-Founder, Full Stack Developer</span>
            <p>Khoa công nghệ thông tin <br> Trường ĐH Khoa học tự nhiên. <br> <span style="font-weight: bold"> Môn: Lập trình hiện đại </span>
            <ul class="social-media">
              <li>
                <a href="#">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
